In [48]:
import pandas as pd
import numpy as np 
from sklearn import preprocessing

In [49]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D

Using TensorFlow backend.

In [50]:
loan_train=pd.read_csv(r'C:\Users\Varun Kurup\m001\train.csv',index_col='interest_rate')

In [51]:
loan_train.head()

,loan_id,source,financial_institution,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
interest_rate,,,,,,,,,,,,,,,,,,,,,
4.250,268055008619,Z,"Turner, Baldwin and Rhodes",214000,360,2012-03-01,05/2012,95,1.0,22.0,...,0,0,0,1,0,0,0,0,0,1
4.875,672831657627,Y,"Swanson, Newton and Miller",144000,360,2012-01-01,03/2012,72,1.0,44.0,...,0,0,0,0,0,0,0,1,0,1
3.250,742515242108,Z,Thornton-Davis,366000,180,2012-01-01,03/2012,49,1.0,33.0,...,0,0,0,0,0,0,0,0,0,1
4.750,601385667462,X,OTHER,135000,360,2012-02-01,04/2012,46,2.0,44.0,...,0,0,0,0,0,1,1,1,1,1
4.750,273870029961,X,OTHER,124000,360,2012-02-01,04/2012,80,1.0,43.0,...,3,4,5,6,7,8,9,10,11,1

In [52]:
loan_train1=loan_train

In [53]:
loan_train1.drop(['loan_id'],axis=1,inplace=True)
loan_train1.drop(['source'],axis=1,inplace=True)
loan_train1.drop(['financial_institution'],axis=1,inplace=True)
loan_train1.drop(['first_payment_date'],axis=1,inplace=True)
loan_train1.drop(['origination_date'],axis=1,inplace=True)

In [54]:
y=loan_train['m13']

In [55]:
loan_train1.drop(['m13'],axis=1,inplace=True)

In [56]:
x=loan_train1

In [67]:
x=preprocessing.StandardScaler().fit(x).transform(x)

ValueError: could not convert string to float: 'A23'

In [57]:
x.head()

,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,...,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
interest_rate,,,,,,,,,,,,,,,,,,,,,
4.250,214000,360,95,1.0,22.0,694.0,C86,30.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
4.875,144000,360,72,1.0,44.0,697.0,B12,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
3.250,366000,180,49,1.0,33.0,780.0,B12,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4.750,135000,360,46,2.0,44.0,633.0,B12,0.0,638.0,0.0,...,0,0,0,0,0,0,1,1,1,1
4.750,124000,360,80,1.0,43.0,681.0,C86,0.0,0.0,0.0,...,2,3,4,5,6,7,8,9,10,11

In [58]:
x.drop(['loan_purpose'],axis=1,inplace=True)

In [59]:
x=preprocessing.StandardScaler().fit(x).transform(x)

C:\Users\Varun Kurup\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Varun Kurup\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [60]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1,stratify=y)

In [44]:
print(x_train)

[[-0.90008788 -1.25087412  0.95815414 ... -0.04458259 -0.04364174
  -0.04527618]
 [ 1.80297763 -1.25087412  0.43767154 ... -0.04458259 -0.04364174
  -0.04527618]
 [-1.13551617 -2.18668185 -1.12377623 ... -0.04458259 -0.04364174
  -0.04527618]
 ...
 [ 2.83188643  0.75442817 -0.02497965 ... -0.04458259 -0.04364174
  -0.04527618]
 [-0.17636389  0.75442817  0.72682854 ... -0.04458259 -0.04364174
  -0.04527618]
 [ 0.80022752  0.75442817 -0.95028203 ... -0.04458259 -0.04364174
  -0.04527618]]

In [45]:
x_train.shape

(81240, 21)

In [15]:
from xgboost import XGBClassifier

In [16]:
model=XGBClassifier()
model.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [17]:
y_pred=model.predict(x_test)

In [72]:
model2=XGBClassifier()
model2.fit(x,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [18]:
from sklearn.metrics import f1_score
xgb_f1=f1_score(y_test,y_pred,average='weighted')
print(xgb_f1)

0.9957512730137467

In [17]:
loan_test=pd.read_csv(r'C:\Users\Varun Kurup\m001\test.csv',index_col='interest_rate')
loan_test.head()

,loan_id,source,financial_institution,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,...,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
interest_rate,,,,,,,,,,,,,,,,,,,,,
3.875,1,Y,Browning-Hart,417000,360,01/02/12,Apr-12,75,1,20,...,0,0,0,0,0,0,0,0,0,0
4.500,2,X,OTHER,113000,360,01/02/12,Apr-12,80,2,33,...,0,0,0,0,0,0,0,0,0,0
4.500,3,Y,OTHER,72000,360,01/01/12,Mar-12,75,1,34,...,0,0,0,0,0,0,0,0,0,0
4.125,4,X,"Miller, Mcclure and Allen",123000,180,01/02/12,Apr-12,41,2,24,...,0,0,0,0,0,0,0,0,0,0
3.250,5,X,Browning-Hart,166000,180,01/02/12,Apr-12,53,2,12,...,0,0,0,0,0,0,0,0,0,0

In [18]:
loan_test1=loan_test

In [19]:
loan_test1.drop(['loan_id'],axis=1,inplace=True)
loan_test1.drop(['source'],axis=1,inplace=True)
loan_test1.drop(['financial_institution'],axis=1,inplace=True)
loan_test1.drop(['first_payment_date'],axis=1,inplace=True)
loan_test1.drop(['origination_date'],axis=1,inplace=True)

In [20]:
loan_test1.drop(['loan_purpose'],axis=1,inplace=True)

In [21]:
x_test1=loan_test1

In [22]:
x_test1=preprocessing.StandardScaler().fit(x_test1).transform(x_test1)

C:\Users\Varun Kurup\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Varun Kurup\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [29]:
ypred1=model.predict(x_test1)

In [30]:
df1=pd.DataFrame(ypred1)
df2=loan_test.iloc[1]
df3=pd.concat([df1,df2])
print(df3)

                               0
0                              0
1                              0
2                              0
3                              0
4                              0
5                              0
6                              0
7                              0
8                              0
9                              0
10                             0
11                             0
12                             0
13                             0
14                             0
15                             0
16                             0
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
...                          ...
35857                          0
35858                          0
35859                          0
35860                          0
35861                          0
35862                          0
35863                          0
35864                          0
35865                          0
unpaid_principal_bal      113000
loan_term                    360
loan_to_value                 80
number_of_borrowers            2
debt_to_income_ratio          33
borrower_credit_score        793
insurance_percent              0
co-borrower_credit_score     784
insurance_type                 0
m1                             0
m2                             0
m3                             0
m4                             0
m5                             0
m6                             0
m7                             0
m8                             0
m9                             0
m10                            0
m11                            0
m12                            0

[35887 rows x 1 columns]

In [27]:
df3.head()

   0
0  0
1  0
2  0
3  0
4  0

In [28]:
df3.to_csv(r'C:\Users\Varun Kurup\Documents\submission.csv')

In [31]:
from sklearn import svm
from sklearn import metrics
svs=['rbf','linear','poly','sigmoid']
svm_test_accuracy=[]
for s in svs:
    clf=svm.SVC(kernel=s)
    clf.fit(x_train,y_train)
    svm_test_accuracy.append(metrics.accuracy_score(y_test,clf.predict(x_test)))
svm_test_accuracy

C:\Users\Varun Kurup\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Varun Kurup\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Varun Kurup\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

[0.9950600264231145,
 0.9957206042851399,
 0.9955482796254811,
 0.9908380722614739]

In [30]:
clf1=svm.SVC(kernel='linear')

In [32]:
x_test1=preprocessing.StandardScaler().fit(x_test1).transform(x_test1)

In [33]:
clf1.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [34]:
ypred2=clf1.predict(x_test1)

In [35]:
df21=pd.DataFrame(ypred2)
df31=pd.concat([df21,df2])
df31.head()

   0
0  0
1  0
2  0
3  0
4  0

In [36]:
df31.to_csv(r'C:\Users\Varun Kurup\Documents\submissionsvm1.csv')

In [47]:
from sklearn.ensemble import RandomForestClassifier
clf1=RandomForestClassifier()
clf1.fit(x_train,y_train)

C:\Users\Varun Kurup\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [82]:
ypred3=clf1.predict(x_test1)
print(ypred3)

[0 0 0 ... 0 0 0]

In [83]:
df5=pd.DataFrame(ypred3)

In [84]:
df51=pd.concat([df5,df2])
print(df51)

                               0
0                              0
1                              0
2                              0
3                              0
4                              0
5                              0
6                              0
7                              0
8                              0
9                              0
10                             0
11                             0
12                             0
13                             0
14                             0
15                             0
16                             0
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
...                          ...
35857                          0
35858                          0
35859                          0
35860                          0
35861                          0
35862                          0
35863                          0
35864                          0
35865                          0
unpaid_principal_bal      113000
loan_term                    360
loan_to_value                 80
number_of_borrowers            2
debt_to_income_ratio          33
borrower_credit_score        793
insurance_percent              0
co-borrower_credit_score     784
insurance_type                 0
m1                             0
m2                             0
m3                             0
m4                             0
m5                             0
m6                             0
m7                             0
m8                             0
m9                             0
m10                            0
m11                            0
m12                            0

[35887 rows x 1 columns]

In [55]:
df51.to_csv(r'C:\Users\Varun Kurup\Documents\randomforestsubmission1.csv')

In [56]:
from sklearn.linear_model import LogisticRegression

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
CS=[0.01,0.05,0.1,0.5,1]
lr_test_accuracy=[]
lr_train_accuracy=[]
for cs in CS:
    Lr=LogisticRegression(C=cs,solver='liblinear')
    Lr.fit(x_train,y_train)
    lr_train_accuracy.append(metrics.accuracy_score(y_train,Lr.predict(x_train)))
    lr_test_accuracy.append(metrics.accuracy_score(y_test,Lr.predict(x_test)))

lr_test_accuracy

[0.9962375782641163,
 0.9961801367108967,
 0.9961801367108967,
 0.9962088574875064,
 0.9962088574875064]

In [74]:
lr1=LogisticRegression(C=0.01,solver='liblinear')
lr1.fit(x_train,y_train)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [98]:
ypred4=model.predict(x_test1)

In [99]:
df6=pd.DataFrame(ypred4)
df61=pd.concat([df6,df2])

In [100]:
print(df61)

                               0
0                              0
1                              0
2                              0
3                              0
4                              0
5                              0
6                              0
7                              0
8                              0
9                              0
10                             0
11                             0
12                             0
13                             0
14                             0
15                             0
16                             0
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
...                          ...
35857                          0
35858                          0
35859                          0
35860                          0
35861                          0
35862                          0
35863                          0
35864                          0
35865                          0
unpaid_principal_bal      113000
loan_term                    360
loan_to_value                 80
number_of_borrowers            2
debt_to_income_ratio          33
borrower_credit_score        793
insurance_percent              0
co-borrower_credit_score     784
insurance_type                 0
m1                             0
m2                             0
m3                             0
m4                             0
m5                             0
m6                             0
m7                             0
m8                             0
m9                             0
m10                            0
m11                            0
m12                            0

[35887 rows x 1 columns]

In [102]:
df61.to_csv(r'C:\Users\Varun Kurup\Documents\randomforestsubmission23.csv')

In [103]:
ypred5=lr1.predict(x_test1)

In [104]:
df7=pd.DataFrame(ypred5)

In [105]:
df71=pd.concat([df7,df2])
print(df71)

                               0
0                              0
1                              0
2                              0
3                              0
4                              0
5                              0
6                              0
7                              0
8                              0
9                              0
10                             0
11                             0
12                             0
13                             0
14                             0
15                             0
16                             0
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
...                          ...
35857                          0
35858                          0
35859                          0
35860                          0
35861                          0
35862                          0
35863                          0
35864                          0
35865                          0
unpaid_principal_bal      113000
loan_term                    360
loan_to_value                 80
number_of_borrowers            2
debt_to_income_ratio          33
borrower_credit_score        793
insurance_percent              0
co-borrower_credit_score     784
insurance_type                 0
m1                             0
m2                             0
m3                             0
m4                             0
m5                             0
m6                             0
m7                             0
m8                             0
m9                             0
m10                            0
m11                            0
m12                            0

[35887 rows x 1 columns]

In [108]:
df71.to_csv(r'C:\Users\Varun Kurup\Documents\logisticregressionsubmission1729.csv')

In [110]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
Ks = 10
mean_acc = np.zeros((Ks-1))
std_acc = np.zeros((Ks-1))
ConfustionMx = [];
for n in range(1,Ks):
    
    #Train Model and Predict  
    neigh = KNeighborsClassifier(n_neighbors = n).fit(x_train,y_train)
    yhat=neigh.predict(x_test)
    mean_acc[n-1] = metrics.accuracy_score(y_test, yhat)

    
    std_acc[n-1]=np.std(yhat==y_test)/np.sqrt(yhat.shape[0])

mean_acc

array([0.9935091 , 0.99569188, 0.99577805, 0.99595037, 0.99577805,
       0.99586421, 0.99577805, 0.99580677, 0.99580677])

In [113]:
neig1=KNeighborsClassifier(n_neighbors=4).fit(x_train,y_train)

In [114]:
yhat2=neig1.predict(x_test1)

In [115]:
dfkmean=pd.DataFrame(yhat2)

In [116]:
dfoverall=pd.concat([dfkmean,df2])

In [117]:
print(dfoverall)

                               0
0                              0
1                              0
2                              0
3                              0
4                              0
5                              0
6                              0
7                              0
8                              0
9                              0
10                             0
11                             0
12                             0
13                             0
14                             0
15                             0
16                             0
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
...                          ...
35857                          0
35858                          0
35859                          0
35860                          0
35861                          0
35862                          0
35863                          0
35864                          0
35865                          0
unpaid_principal_bal      113000
loan_term                    360
loan_to_value                 80
number_of_borrowers            2
debt_to_income_ratio          33
borrower_credit_score        793
insurance_percent              0
co-borrower_credit_score     784
insurance_type                 0
m1                             0
m2                             0
m3                             0
m4                             0
m5                             0
m6                             0
m7                             0
m8                             0
m9                             0
m10                            0
m11                            0
m12                            0

[35887 rows x 1 columns]

In [118]:
dfoverall.to_csv(r'C:\Users\Varun Kurup\Documents\kmeanssubmission.csv')

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
Dps = [1,2,3,4,5,6,7,8,9,10]
meantesacc = []
meantrainacc = []
ConfustionMx = []
for d in Dps:
    dtc=DecisionTreeClassifier(criterion="entropy",max_depth=d)
    dtc.fit(x_train,y_train)
    meantrainacc.append(metrics.accuracy_score(y_train,dtc.predict(x_train)))
    meantesacc.append(metrics.accuracy_score(y_test,dtc.predict(x_test)))


meantesacc

[0.9956918835085301,
 0.9954908380722615,
 0.9958929289447986,
 0.9958067666149693,
 0.9960652536044574,
 0.9956631627319202,
 0.9956631627319202,
 0.9956918835085301,
 0.9954333965190418,
 0.9954046757424321]

In [25]:
dtc1=DecisionTreeClassifier(criterion="entropy", max_depth=5)
dtc1.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [26]:
yhat2=dtc1.predict(x_test1)

In [27]:
dfdec=pd.DataFrame(yhat2)

In [31]:
dfdec2=pd.concat([dfdec,df2])

In [32]:
print(dfdec2)

                               0
0                              0
1                              0
2                              0
3                              0
4                              0
5                              0
6                              0
7                              0
8                              0
9                              0
10                             0
11                             0
12                             0
13                             0
14                             0
15                             0
16                             0
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
...                          ...
35857                          0
35858                          0
35859                          0
35860                          0
35861                          0
35862                          0
35863                          0
35864                          0
35865                          0
unpaid_principal_bal      113000
loan_term                    360
loan_to_value                 80
number_of_borrowers            2
debt_to_income_ratio          33
borrower_credit_score        793
insurance_percent              0
co-borrower_credit_score     784
insurance_type                 0
m1                             0
m2                             0
m3                             0
m4                             0
m5                             0
m6                             0
m7                             0
m8                             0
m9                             0
m10                            0
m11                            0
m12                            0

[35887 rows x 1 columns]

In [33]:
dfdec2.to_csv(r'C:\Users\Varun Kurup\Documents\decisiontreesubmission.csv')

In [35]:
from sklearn.naive_bayes import GaussianNB
nbmodel=GaussianNB()
nbmodel.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [37]:
ynbhat=nbmodel.predict(x_test1)

In [38]:
dfnb=pd.DataFrame(ynbhat)

In [39]:
dfnboverall=pd.concat([dfnb,df2])

In [40]:
print(dfnboverall)

                               0
0                              0
1                              0
2                              0
3                              0
4                              0
5                              0
6                              0
7                              0
8                              0
9                              0
10                             0
11                             0
12                             0
13                             0
14                             0
15                             1
16                             0
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
...                          ...
35857                          0
35858                          0
35859                          1
35860                          0
35861                          0
35862                          0
35863                          1
35864                          0
35865                          1
unpaid_principal_bal      113000
loan_term                    360
loan_to_value                 80
number_of_borrowers            2
debt_to_income_ratio          33
borrower_credit_score        793
insurance_percent              0
co-borrower_credit_score     784
insurance_type                 0
m1                             0
m2                             0
m3                             0
m4                             0
m5                             0
m6                             0
m7                             0
m8                             0
m9                             0
m10                            0
m11                            0
m12                            0

[35887 rows x 1 columns]

In [42]:
dfnboverall.to_csv(r'C:\Users\Varun Kurup\Documents\nboverallsubmission.csv')

In [65]:
import lightgbm as ltb

In [67]:
modellgb=ltb.LGBMClassifier()

In [68]:
modellgb.fit(x_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        importance_type='split', learning_rate=0.1, max_depth=-1,
        min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
        n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
        random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
        subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [69]:
yhat34=modellgb.predict(x_test1)

In [70]:
dflgbm=pd.DataFrame(yhat34)

In [72]:
dflgbmoverall=pd.concat([dflgbm,df2])

In [74]:
print(dflgbmoverall)

                               0
0                              0
1                              0
2                              0
3                              0
4                              0
5                              0
6                              0
7                              0
8                              0
9                              0
10                             0
11                             0
12                             0
13                             0
14                             0
15                             1
16                             0
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
...                          ...
35857                          0
35858                          0
35859                          0
35860                          0
35861                          0
35862                          0
35863                          0
35864                          0
35865                          0
unpaid_principal_bal      113000
loan_term                    360
loan_to_value                 80
number_of_borrowers            2
debt_to_income_ratio          33
borrower_credit_score        793
insurance_percent              0
co-borrower_credit_score     784
insurance_type                 0
m1                             0
m2                             0
m3                             0
m4                             0
m5                             0
m6                             0
m7                             0
m8                             0
m9                             0
m10                            0
m11                            0
m12                            0

[35887 rows x 1 columns]

In [75]:
dflgbmoverall.to_csv(r'C:\Users\Varun Kurup\Documents\lgbmoverallsubmission.csv')

In [76]:
from sklearn.ensemble import AdaBoostClassifier
classifier=AdaBoostClassifier(DecisionTreeClassifier(max_depth=5),n_estimators=200)
classifier.fit(x_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          learning_rate=1.0, n_estimators=200, random_state=None)

In [77]:
yhat45=classifier.predict(x_test1)

In [78]:
dfadaboost=pd.DataFrame(yhat45)

In [79]:
dfadaboostoverall=pd.concat([dfadaboost,df2])

In [80]:
print(dfadaboostoverall)

                               0
0                              0
1                              0
2                              0
3                              0
4                              0
5                              0
6                              0
7                              0
8                              0
9                              0
10                             0
11                             0
12                             0
13                             0
14                             0
15                             1
16                             0
17                             0
18                             0
19                             0
20                             0
21                             0
22                             0
23                             0
24                             0
25                             0
26                             0
27                             0
28                             0
29                             0
...                          ...
35857                          0
35858                          0
35859                          0
35860                          0
35861                          0
35862                          0
35863                          0
35864                          0
35865                          0
unpaid_principal_bal      113000
loan_term                    360
loan_to_value                 80
number_of_borrowers            2
debt_to_income_ratio          33
borrower_credit_score        793
insurance_percent              0
co-borrower_credit_score     784
insurance_type                 0
m1                             0
m2                             0
m3                             0
m4                             0
m5                             0
m6                             0
m7                             0
m8                             0
m9                             0
m10                            0
m11                            0
m12                            0

[35887 rows x 1 columns]

In [81]:
dfadaboostoverall.to_csv(r'C:\Users\Varun Kurup\Documents\adaboostoverallsubmission.csv')

In [85]:
from sklearn.neural_network import MLPClassifier
clf_NN=MLPClassifier(solver='lbfgs',alpha=1e-5,hidden_layer_sizes=(5,2),random_state=1)
clf_NN.fit(x_train,y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [86]:
yhatml=clf_NN.predict(x_test1)

In [87]:
dmlp=pd.DataFrame(yhatml)

In [88]:
print(dmlp)

       0
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
...   ..
35836  0
35837  0
35838  0
35839  0
35840  0
35841  0
35842  0
35843  0
35844  0
35845  0
35846  0
35847  0
35848  0
35849  0
35850  0
35851  0
35852  0
35853  0
35854  0
35855  0
35856  0
35857  0
35858  0
35859  0
35860  0
35861  0
35862  0
35863  0
35864  0
35865  0

[35866 rows x 1 columns]

In [90]:
dmlp.to_csv(r'C:\Users\Varun Kurup\Documents\mlpoverallsubmission.csv')